# BeStay Frontend Environment Variables
VITE_API_BASE_URL=http://localhost:3000/api
VITE_GOOGLE_CLIENT_ID='344024729572-qa47cf7mscrnhh2hj9c6tgp4cdllbgq9.apps.googleusercontent.com'
VITE_GOOGLE_MAPS_API_KEY=your-google-maps-api-key
VITE_STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key
